# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Node.js
node_modules/

# React
dist/

# macOS
.DS_Store

# Windows
Thumbs.db

# Database
*.db        